body {
  padding: 0;
  margin: 0;
}

#map,
body,
html {
  height: 100%;
}

#map {
  height: 100vh;
}

.info.legend {
  background: white;
  line-height: 1.8;
  padding: 10px;
  font-size: 14px;
  border-radius: 5px; /* Rounded corners for a cleaner look */
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2); /* Subtle shadow for better visibility */
}

.info.legend i {
  width: 20px; /* Adjust size to fit your design */
  height: 20px;
  margin-right: 10px; /* Spacing between color block and text */
  border-radius: 3px; /* Optional, keep square or add rounding */
  display: inline-block; /* Ensure color blocks line up properly */
  opacity: 0.9; /* Make colors more vibrant */
}